<div class="card">
  <div class="card-body">
    <p class="card-subtitle">{{ currentComment.AutorName }}dice:</p>
    <div class="p-3"> {{ currentComment.Descripcion }}</div>
    <div>
      <span class="card-subtitle text-muted">Fecha publicacion: {{ currentComment.FechaPublicacion }}</span>
    </div>
    <h6 class="card-subtitle">Conteo de votos: {{ currentComment.RatingCount }}</h6>
    <h6 class="card-subtitle">Promedio de votos: {{ currentComment.Average }}</h6>
    <ngb-rating [(rate)]="currentRate" max="5" [(ngModel)] = "currentRate" (click)="rating()">
      <ng-template let-fill="fill" let-index="index">
        <span   class="star" [class.filled]="fill === 100" [class.bad]="index < 2">&#9733;</span>
      </ng-template>
    </ngb-rating> 
  </div>
</div>