composer.phar
/vendor/

/debatesApiC/packages/
/debatesAngular-master/node_modules/

# Commit your application's lock file https://getcomposer.org/doc/01-basic-usage.md#commit-your-composer-lock-file-to-version-control
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock
debatesApiC/debatesWebApi/Web.config
debatesApiC/debatesWebApi/Web.config
debatesApiC/.vs/debatesWebApi/v15/Server/sqlite3/storage.ide-wal
debatesApiC/.vs/debatesWebApi/v15/Server/sqlite3/storage.ide-shm
