<!-- <div class="container" style="background-image: url(src/assets/images/LoginBackGround.jpg)"> -->
<div class="container">
    <div class="row justify-content-center align-items-center minh-100">
      <div class="col-md-5">
          <h4 align="center">Ingresar</h4>  
            <form [formGroup]="loginForm" novalidate autocomplete="off">
                <div class="container">

                  <label for="Email" ><b>Direccion de correo</b></label>
                  <input type="text" formControlName="Email" name="uname" >
                  <div class="error" *ngIf="loginForm.get('Email').hasError('required') && loginForm.get('Email').touched">CorreoElectronico requerido</div>
                  <div class="error" *ngIf="loginForm.get('Email').hasError('email') && loginForm.get('Email').touched">Ingrese un correo electronico valido</div> 

                  <label for="Password"><b>Contraseña</b></label>
                  <input type="password"  name="Password" formControlName="Password">                
                  <div class="error" *ngIf="loginForm.get('Password').hasError('required') && loginForm.get('Password').touched">No se ha ingresado una contraseña</div>
                  <button type="submit" class="btn btn-success" [disabled]="loginForm.invalid"class="btn btn-success"(click)="loginValidate()">Ingresar</button>
                  
                </div>         
            </form>
            <br>
            <!--  <div class="col-md-12">
                 <b>No estas Registrado?</b>
                 <button type="button" class="btn btn-primary" [routerLink]="['/Register']">Registrarse</button>
            </div> -->
      </div>
    </div>
</div>
