<div class="row justify-content-center align-items-center minh-100">
  <div class="col-md-8">
    <h4 align="center">Nuevo Debate</h4>
    <form [formGroup]="debatesForm" novalidate autocomplete="off">
      <div class="container">

        <label for="Titulo"><b>Titulo</b></label>
        <input type="text" formControlName="Titulo" name="Titulo">
        <div class="error" *ngIf="debatesForm.get('Titulo').hasError('required') && debatesForm.get('Titulo').touched">
          No ha seleccionado un titulo para este debate</div>

        <label for="Tema"><b>Descripcion del debate</b></label>
        <input type="text" name="Tema" formControlName="Tema">
        <div class="error" *ngIf="debatesForm.get('Tema').hasError('required') && debatesForm.get('Tema').touched">No se
          ha el tema a debatir</div>

        <label for="FechaVencimiento"><b>Fecha y hora de finalizacion del Debate</b></label>
        <input type="datetime-local" id="meeting-time" name="FechaVencimiento" value="2018-06-12T19:30"
          formControlName="FechaVencimiento">
        <div class="error"
          *ngIf="debatesForm.get('FechaVencimiento').hasError('required') && debatesForm.get('FechaVencimiento').touched">
          No se ha seleccionado una fecha de finalizacion del debate</div>

        <button type="submit" [disabled]="debatesForm.invalid" class="btn btn-success"
          (click)="sendDebate()">Publicar</button>
      </div>
    </form>
  </div>
</div>