.header-politrivia{
    background-color: #fff;
    box-shadow: 4px 0px 10px #d6d6d6;
    padding: 1.5em 3em;
}

.icon-banner{
    height: 18px;
}

.btn-d-menu{
    font-size: 12px;
    line-height: 1;
    border: none;
    background-color: #222d32;
    color: #fff;
}

#nav-offcanvas{
    background-color: #222d32;
}

.btn-d-menu:hover{
    font-size: 12px;
    line-height: 1;
    border: none;
    background-color: #222d32;
}

#menu-v-lateral{
    background-color: #222d32;
}

#container-user-img{
    display: inline-block;
    height: 50px;
    width: 50px;
    background-color: gray;
}

.text-12{
    font-size: 12px;
}

.text-f5{
    color: #f5f5f5;
}