<div id="offcanvas-push" uk-offcanvas="mode: push; overlay: true">
  <nav id="nav-offcanvas" class="uk-offcanvas-bar">
    <button class="uk-offcanvas-close" type="button" uk-close></button>
    <div>
      <div class="mb-3 pt-3 pb-2 px-1">
        <div class="text-center">
          <div id="container-user-img" class="rounded-circle">
          </div>
          <p class="text-center mb-0 text-12 text-f5"></p>
        </div>
      </div>
      <div *ngIf="menu.Scroll">
        <div class="text-center">
          <button class="uk-button px-4 py-3 btn-block btn-d-menu d-flex align-items-center" (click)="navigateComponent('ScrollDebate');">
            <span class="text-center mr-3"><i class="far fa-list-alt fa-2x"></i></span>
            <span class="text-center mb-0">Ver debates</span>
          </button>
        </div>
      </div>
      <div *ngIf="menu.CreateDebate">
        <div class="text-center">
          <button class="uk-button px-4 py-3 btn-block btn-d-menu d-flex align-items-center" (click)="navigateComponent('Debates');">
            <span class="text-center mr-3"><i class="far fa-plus-square fa-2x"></i></span>
            <span class="text-center mb-0">Crear debate</span>
          </button>
        </div>
      </div>
      <div *ngIf="menu.Report">
        <div class="text-center">
          <button class="uk-button px-4 py-3 btn-block btn-d-menu d-flex align-items-center" (click)="navigateComponent('Report');">
            <span class="text-center mr-3"><i class="far fa-file-alt fa-2x"></i></span>
            <span class="text-center mb-0">Informes</span>
          </button>
        </div>
      </div>
      <div *ngIf="menu.RegisterUser">
        <div class="text-center">
          <button class="uk-button px-4 py-3 btn-block btn-d-menu d-flex align-items-center" (click)="navigateComponent('RegisterUser')">
            <span class="text-center mr-3"><i class="fas fa-user-plus fa-2x"></i></span>
            <span class="text-center mb-0">Crear usuario</span>
          </button>
        </div>
      </div>
      <div *ngIf="showUserOption">
        <div class="text-center">
          <button class="uk-button px-4 py-3 btn-block btn-d-menu d-flex align-items-center" (click)="navigateComponent('DeleteAccount')">
            <span class="text-center mr-3"><i class="fas fa-user-minus fa-2x"></i></span>
            <span class="text-center mb-0">Borrar usuario</span>
          </button>
        </div>
      </div>
      <div>
        <div class="text-center">
          <button class="uk-button px-4 py-3 btn-block btn-d-menu d-flex align-items-center" (click)="signOut()">
            <span class="text-center mr-3"><i class="fas fa-power-off fa-2x"></i></span>
            <span class="text-center mb-0">Cerrar sesión</span>
          </button>
        </div>
      </div>
    </div>
  </nav>
</div>
<div>
  <div class="d-flex">
    <div id="menu-v-lateral" class="col-md-1 px-0 d-none d-md-block position-fixed h-100">
      <div class="mb-3 pt-3 pb-2 px-1">
        <div class="text-center">
          <div id="container-user-img" class="rounded-circle">
          </div>
          <p class="text-center mb-0 text-12 text-f5">{{ user }}</p>
        </div>
      </div>
      <div *ngIf="menu.Scroll">
        <div class="text-center">
          <button class="uk-button px-4 py-3 btn-block btn-d-menu" (click)="navigateComponent('ScrollDebate');">
            <p class="text-center"><i class="far fa-list-alt fa-2x"></i></p>
            <p class="text-center mb-0">Ver debates</p>
          </button>
        </div>
      </div>
      <div *ngIf="menu.CreateDebate">
        <div class="text-center">
          <button class="uk-button px-4 py-3 btn-block btn-d-menu" (click)="navigateComponent('Debates');">
            <p class="text-center"><i class="far fa-plus-square fa-2x"></i></p>
            <p class="text-center mb-0">Crear debate</p>
          </button>
        </div>
      </div>
      <div *ngIf="menu.Report">
        <div class="text-center">
          <button class="uk-button px-4 py-3 btn-block btn-d-menu" (click)="navigateComponent('Report');">
            <p class="text-center"><i class="far fa-file-alt fa-2x"></i></p>
            <p class="text-center mb-0">Informes</p>
          </button>
        </div>
      </div>
      <div *ngIf="menu.RegisterUser">
        <div class="text-center">
          <button class="uk-button px-4 py-3 btn-block btn-d-menu" (click)="navigateComponent('RegisterUser')">
            <p class="text-center"><i class="fas fa-user-plus fa-2x"></i></p>
            <p class="text-center mb-0">Crear usuario</p>
          </button>
        </div>
      </div>
      <div *ngIf="showUserOption">
        <div class="text-center">
          <button class="uk-button px-4 py-3 btn-block btn-d-menu" (click)="navigateComponent('DeleteAccount')">
            <p class="text-center"><i class="fas fa-user-minus fa-2x"></i></p>
            <p class="text-center mb-0">Borrar usuario</p>
          </button>
        </div>
      </div>
      <div>
        <div class="text-center">
          <button class="uk-button px-4 py-3 btn-block btn-d-menu" (click)="signOut()">
            <p class="text-center"><i class="fas fa-power-off fa-2x"></i></p>
            <p class="text-center mb-0">Cerrar sesión</p>
          </button>
        </div>
      </div>
    </div>
    <div class="col-12 px-0 offset-md-1 col-md-11">
      <header class="text-right header-politrivia mb-0 position-sticky">
        <div class="d-flex">
          <div class="col-1 px-0">
            <button class="d-block d-md-none uk-button-default" type="button" uk-toggle="target: #offcanvas-push">
              <i class="fas fa-bars fa-inverse text-primary"></i></button>
          </div>
          <div class="col-11 text-white text-right px-0">
            <img src="../../../assets/Images/icono-politrivia.svg" alt="Logo politrivia" class="icon-banner">
          </div>
        </div>
      </header>
      <div>
        <app-debates *ngIf=showDebatesComponent></app-debates>
        <app-reports *ngIf=showReportComponent></app-reports>
        <app-scroll-debates *ngIf=showScrollDebatesComponent></app-scroll-debates>
        <app-delete-account *ngIf=showDeleteAccount></app-delete-account>
        <app-register-user *ngIf=showRegisterUser></app-register-user>
      </div>
    </div>
  </div>
</div>
<!--
<nav class="d-none navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['/Home']"> </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" *ngIf=menu.Scroll>
        <button type="button" class="btn btn-light" (click)="navigateComponent('ScrollDebate');">Ver debates</button>
      </li>
      <li class="nav-item active" *ngIf=menu.CreateDebate>
        <button type="button" class="btn btn-light" (click)="navigateComponent('Debates');">Crear un nuevo
          debate</button>
      </li>
      <li class="nav-item" *ngIf=menu.Report>
        <button type="button" class="btn btn-light" (click)="navigateComponent('Report')">Informes</button>
      </li>
      <li class="nav-item" *ngIf=menu.RegisterUser>
        <button type="button" class="btn btn-light" (click)="navigateComponent('RegisterUser')">Crear un nuevo
          usuario</button>
      </li>
      <li class="nav-item" *ngIf=menu.UserInfo>
        <button type="button" class="btn btn-light" (click)="navigateComponent('User')">{{user}}</button>
        <ul *ngIf="showUserOption">
          <li><button type="button" class="btn btn-light" (click)="navigateComponent('DeleteAccount')">Borrar
              Cuenta</button></li>
          <li><button type="button" class="btn btn-light" (click)="signOut()">Cerrar Sesion</button></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
-->